{% extends "base.html" %}
{% block body %}
    {% if 'user' in session %}
    show page!
    {% else %}
    <div class="container">
      <div>
        <p>
	      Roro is a private message board for friends and family.
        <br><br>
        If you want to join, just get in touch with one of us and we'll add you.
        <br><br>
        To login - use roro's last name.
          <form method="post">
            <div class="row">
              <div class="col c4"><input type="password" class="smooth"> <input type="submit" class="btn btn-a btn-sm smooth"></div>
              <div class="col c8">&nbsp;</div>
            </div>
          </form>
        </p>
      </div>
    </div>
    {% endif %}
{% endblock %}
