{% extends "base.html" %}
{% block body %}
<div class="container">
  <div>
    {% if session['authorized'] == "true" %}
    <p>
    Choose yourself from the list.
    <br>Ha ha, I know, funny to choose someone else, but please don't.
          {% for user in users %}

          <div class="row">
            <div class="col">
            <a href="/messages?userid={{user[0]}}" class="btn btn-primary" style="width:100%;text-align:left">
              <img src="/static/{{user[3]}}" class="profile-pic" style="vertical-align:middle">
              <span>&nbsp;&nbsp;&nbsp;</span><span style="font-size:150%;color:white">{{user[1]}}</span>
            </a>
            </div>
            <div class="col">&nbsp;</div>
            </div>
            <br>
          {% endfor %}
    {% else %}
        <p>
	      Roro is a private message board for friends and family.
        <br>
        Get in touch if your want to join.
        <br>
          <form method="post" action="\">
            <div class="form-group">
                <input type="password" name="password" class="form-control">
                <br>
                <input type="submit" class="btn btn-primary">
            </div>
          </form>
        </p>
    {% endif %}
  </div>
</div>
{% endblock %}
