{% extends "base.html" %}
{% block body %}
<div class="container">
  <div>
  <div class="row">
    <div class="col c4">
    <span style="width:100%">
      &nbsp;
    </span>
    </div>
    <div class="col c5">
      <a href="/?switch=1" class="btn btn-sm btn-a" style="width:30%">
        Switch users
      </a>
      <a href="/logout" class="btn btn-sm btn-a" style="width:30%">
        Logout
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <img src="/static/{{user[3]}}" class="profile-pic-small" style="vertical-align:middle">
      &nbsp;<span style="font-size:100%">{{user[1]}} </span>
    </div>
  </div>
  {% for message in messages %}

  <div class="row">
    <div class="col c8">
    <div class="hero" style="width:100%">
      <img src="/static/{{message[6]}}" class="profile-pic-small" style="vertical-align:middle">
      &nbsp;&nbsp;&nbsp;<span style="font-size:90%">{{message[4]}} wrote this on {{message[2]}}</span>

      <hr>
      <span>{{message[1]}}</span>
    </div>
    </div>
    <div class="col c4">
      &nbsp;
    </div>
  </div>

{% endfor %}
  </div>
</div>
{% endblock %}
