{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <nav class="nav nav-pills nav-fill">
        <span class="nav-item nav-link" style="text-align:left">
          <img src="/static/{{user[3]}}" class="profile-pic-small" style="vertical-align:middle"> {{user[1]}}
        </span>
        <a class="nav-item nav-link  active" href="/?switch=1">Switch users</a>&nbsp;
        <a class="nav-item nav-link active" href="/logout">Logout</a>&nbsp;
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>

		<form id="postForm" action="/messages" method="POST" enctype="multipart/form-data" onsubmit="return postForm()">
			<fieldset>
					<textarea class="input-block-level" id="summernote" name="content" rows="18">
					</textarea>
			</fieldset>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
    <br>
    </div>
	</div>
  {% for message in messages %}
  <div class="row">
    <div class="col">
    <div class="hero" style="width:100%">
      <img src="/static/{{message[6]}}" class="profile-pic-small" style="vertical-align:middle">
      &nbsp;&nbsp;&nbsp;<span style="font-size:90%">{{message[4]}} on {{message[2]}}</span>
      <hr>
      <span>{{message[1]}}</span>
    </div>
    </div>
  </div>

{% endfor %}
</div>
{% endblock %}
